[Unit]
Description=Xcompmgr X11 compositor
Documentation=man:xcompmgr(1)

[Service]
Type=simple
ExecStart=/usr/bin/xcompmgr

[Install]
Conflicts=cairo-compmgr.service compton.service
WantedBy=xmonad.service
