[Unit]
Description=Xinitrc stuff

[Service]
Type=oneshot
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr
ExecStart=/usr/bin/xrdb -merge %h/.Xresources
ExecStart=/usr/bin/numlockx on
ExecStart=/usr/bin/xinput --disable 14
RemainAfterExit=Yes

[Install]
WantedBy=xinitrc.target
